/* @TODO: host fonts locally */

/* ***** basics ***** */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: #222;
    font: 1em/1.45 'IBM Plex Sans', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    overflow-x: hidden; /* for .full-width */
}

@media screen and (min-width: 1400px) {

    html {
        font-size: 17px;
    }

}

/* ***** elements ***** */

h1 {
    font-size: 2.4em;
    margin: 0;
}

h2 {
    font-size: 1.7em;
    margin: 2.5em 0 .2em;
    padding-top: 1.5em;
    border-top: 2px dashed #bbb;
}

h3 {
    font-size: 1.35em;
    margin: 0 0 .5em;
}

h4 {
    font-size: 1.1em;
    margin: 0 0 .4rem;
}

p {
    margin: 0 0 1em;
}

section {
    margin: 0 0 3em;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0 0;
}

p + section {
    margin-top: 2em;
}

abbr {
    font-variant: none; /* override default styles */
    text-decoration: none;
}

@media screen and (max-width: 900px) {

    h3 {
        background-color: #f3f3f3;
        -webkit-position: sticky;
        position: sticky;
        top: 0;
        padding: .25em 0;
        z-index: 10; /* header occasionally appears under course rows? */
    }

}

/* ***** reusable ***** */

.constrained-width {
    max-width: 69em;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.subdued {
    color: #777;
}

.tile {
    display: flex;
    background-color: white;
    border-radius: .4em;
    padding: .8em 1.25em 1em;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

@media screen and (max-width: 500px) {

    .constrained-width {
        padding-left: 5vw;
        padding-right: 5vw;
    }

}

@media screen and (min-width: 501px) and (max-width: 900px) {

    .constrained-width {
        padding-left: 8vw;
        padding-right: 8vw;
    }

}

/* ***** header ***** */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 4em;
    line-height: 1;
}

.header-text h1:first-of-type {
    margin-bottom: .2em;
}

.header-github {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 1em;
}

.github-link {
    color: white;
    background-color: #222;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: bold;
    border-radius: .4em;
    padding: .8em 1.2em;
    text-decoration: none;
    transition: .2s background-color ease;
}

.github-link:hover {
    background-color: black;
}

/* ***** requirements ***** */

.requirements {
    display: flex;
}

.requirement {
    flex: 1;
    display: block;
}

.attribute {
    display: flex;
    justify-content: space-between;
}

.attribute + .attribute {
    margin-top: .275em;
}

.attribute-course {
    display: flex;
    align-items: flex-end;

    font-size: .9em;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    letter-spacing: .05ch;
    white-space: nowrap;
}

/* gen eds */
.requirements.gened {
    flex-flow: row wrap;
}

.gened h3 {
    flex: 1 100%;
}

.gened .requirement + .requirement {
    margin-left: 1.25em;
}

/* major/minor */
.major-minor .requirements {
    flex: 1;
    display: block;
    margin-bottom: 0;
}

.major-minor .requirements + .requirements {
    margin-left: 1.5em;
}

.major-minor .tile + .tile {
    margin-top: .6em;
}

/* summary */
.summary .tile {
    background-color: #eaeaea;
}

@media screen and (max-width: 900px) {

    .requirements.gened,
    .major-minor {
        flex-direction: column;
    }

    .gened .requirement + .requirement {
        margin: 1em 0 0 0;
    }

    .major-minor .requirements + .requirements {
        margin: 2em 0 0 0;
    }

}

/* ***** semesters ***** */

.semesters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
}

@media screen and (max-width: 900px) {

    .semesters {
        grid-template-columns: none;
    }

}

/* ***** courses ***** */

.course {
    transition: .2s ease;
}

.course + .course {
    margin-top: .6em;
}

.filtered .course {
    opacity: .5;
}

.filtered .course.selected {
    opacity: 1;
}

.course-shorthand {
    display: flex;
    align-items: center;
    width: 3.25ch;

    font-size: .9em;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: .075ch;
    line-height: 1.2;
    margin-right: 1.1rem;
}

.course-body {
    flex: 1;
    margin-right: 1.1rem;
}

.course-name {
    line-height: 1.2;
}

.course-link {
    color: #222;
    text-decoration: none;
}

.course-link:hover {
    text-decoration: underline;
}

.course-credits {
    display: flex;
    font-size: .95em;
    margin: auto;
}

/* ***** pills ***** */

.pill {
    color: rgba(0, 0, 0, .75);
    background-color: #eee;
    font-size: .9em;
    padding: .2em .75em;
    border-radius: 10em;
    transition: .2s ease;

    /* reset default <button> styles */
    border: none;
    margin: 0;
    font-family: inherit;
}

.pill:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}

.pill + .pill {
    margin-left: .4em;
}

.pill.selected {
    color: #f8f8f8;
    background-color: #444;
}

.pill.selected:hover {
    background-color: #222;
}

.pill.fake {
    font-size: .925em;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #e5e5e5;
    padding: .175em .75em;
    margin: 0 .05em;
    cursor: auto;
}

/* ***** total ***** */

.total {
    display: flex;
    justify-content: flex-end;
    font-size: .95em;
    font-weight: bold;
    margin-top: 1em;
}

.credit-total {
    font-weight: normal;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: 0 1.25em 0 .5em;
}