/* ***** fonts ***** */

/* ***** basics ***** */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font: 1em/1.45 sans-serif;
    background-color: #eee;
    margin: 0;
}

header,
main {
    max-width: 65em;
    padding: 0 3em;
    margin: auto;
}

h1 {
    margin: 1em 0;
}

h2,
h3 {
    margin: 0 0 .75em;
}

section {
    margin-bottom: 4em;
}

a {
    color: #6600CC;
}

/* ***** grids ***** */

.requirements,
.semesters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
}

@media screen and (max-width: 750px) {

    .requirements,
    .semesters {
        grid-template-columns: none;
    }

}

/* ***** tile ***** */

.tile {
    display: flex;
    background: white;
    border-radius: .4em;
    padding: .8em 1.25em 1em;
}

.tile + .tile {
    margin-top: .6em;
}

.tile-shorthand {
    display: flex;
    align-items: center;
    margin-right: 1.2rem;

    color: #777;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    letter-spacing: .05ch;
    line-height: 1.1;
}

.tile-body {
    flex: 1;
    margin-right: 1.2rem;
}

/* @TODO: use condensed font? */
.tile-name {
    font-size: 1.05em;
    line-height: 1.2;
    margin: 0 0 .3rem;
}

/* @TODO: click pill to fade out everything not of that pill type
   and also fade out gen ed/major req tiles at the top */
.pill {
    color: rgba(0, 0, 0, .75);
    background-color: #eee;
    font-size: .8em;
    font-weight: bold;
    padding: .25em .5em;
    border-radius: .3em;

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.pill + .pill {
    margin-left: .15em;
}

.pill.major {
    background-color: #f8b2de;
}

.pill.gened {
    background-color: #cbb5f2;
}

.pill.core {
    background-color: #eee;
}

.pill.math {
    background-color: #f8b2b4;
}

.pill.science {
    background-color: #c0efaf;
}

.pill.fye {
    background-color: #f5c6b2;
}

.pill.humanities {
    background-color: #aed4f1;
}

.pill.social {
    background-color: #efeaaf;
}

.pill.speaking {
    /* background-color: ; */
}

.pill.writing {
    /* background-color: ; */
}

.pill.i {
    /* background-color: ; */
}

.pill.j {
    /* background-color: ; */
}

.tile-credits {
    display: flex;
    color: #777;
    font-size: .95em;
    font-weight: bold;
    margin: auto;
}

/* ***** table ***** */
.total {
    display: flex;
    justify-content: flex-end;
    font-size: .95em;
    font-weight: bold;
    margin-top: 1em;
}

.credit-total {
    color: #777;
    margin: 0 1.25em 0 .5em;
}