/* ***** fonts ***** */

/* ***** basics ***** */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    color: #222;
    font: 1em/1.45 'IBM Plex Sans Condensed', sans-serif;
    background-color: #eee;
    margin: 0;
}

header,
main {
    max-width: 70em;
    padding: 0 3em;
    margin: auto;
}

h1 {
    font-size: 2.2em;
    margin: 1em 0;
}

h2 {
    font-size: 1.6em;
}

h2,
h3 {
    margin: 0 0 .75em;
}

p {
    margin: 0 0 1em;
}

section {
    margin-bottom: 4em;
}

/* ***** grids ***** */

.year-num {
    margin-bottom: .2em;
}

.requirements,
.semesters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
}

.semesters {
    margin-top: 2em;
}

@media screen and (max-width: 800px) {

    .requirements,
    .semesters {
        grid-template-columns: none;
    }

}

/* ***** tile ***** */

.tile {
    display: flex;
    background: white;
    border-radius: .4em;
    padding: .8em 1.25em 1em;
}

.tile + .tile {
    margin-top: .6em;
}

.tile.deselected {
    opacity: .6;
}

.tile-shorthand {
    display: flex;
    align-items: center;
    margin-right: 1.1rem;
}

.shorthand-link {
    color: #777;
    font-size: .9em;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .05ch;
    line-height: 1.1;
}

.shorthand-link:hover {
    text-decoration: underline;
}

.tile-body {
    flex: 1;
    margin-right: 1.1rem;
}

/* @TODO: truncate long name with ellipsis? */
.tile-name {
    font-size: 1.05em;
    line-height: 1.2;
    margin: 0 0 .4rem;
}

/* @TODO: click pill to fade out everything not of that pill type
   and also fade out gen ed/major req tiles at the top */
.pill {
    color: rgba(0, 0, 0, .8);
    background-color: #eee;
    font-size: .9em;
    padding: .25em .5em;
    border-radius: .3em;
    transition: .2s ease;

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.pill:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}

.pill + .pill {
    margin-left: .4em;
}

.pill.selected {
    background-color: #ddcff8;
}

.tile-credits {
    display: flex;
    color: #777;
    font-size: .95em;
    font-weight: bold;
    margin: auto;
}

/* ***** total ***** */

.total {
    display: flex;
    justify-content: flex-end;
    font-size: .95em;
    font-weight: bold;
    margin-top: 1em;
}

.credit-total {
    color: #777;
    margin: 0 1.25em 0 .75em;
}