/* ***** fonts ***** */

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/IBMPlexMono-Regular-Latin1.woff') format('woff');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/IBMPlexMono-Bold-Latin1.woff') format('woff');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-stretch: condensed;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/IBMPlexSansCondensed-Regular-Latin1.woff') format('woff');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-stretch: condensed;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/IBMPlexSansCondensed-Bold-Latin1.woff') format('woff');
}

/* ***** variables ***** */

:root {
    --bg-01: #222;
    --bg-02: #2f2f2f;
    --bg-04: #ddd;
    --bg-05: #ececec;
    --bg-06: #f3f3f3;
    --bg-07: #fff;

    --txt-01: #fff;
    --txt-02: #f3f3f3;
    --txt-03: #ddd;
    --txt-05: #777;
    --txt-06: #4d4d4d;
    --txt-07: #262626;

    --red: hsl(359.28, 80.23%, 62.2%);
    --orange: hsl(35, 100%, 50%);
    --green: hsl(120, 100%, 33.73%);
    --blue: hsl(218.04, 83.23%, 55.27%);
    --purple: hsl(253.68, 90.51%, 68.39%);

    --gap-large: 1.25em;
    --gap-small: .6em;

    --shadow-small: 0 2px 4px rgba(0, 0, 0, .12),
                    0 4px 8px rgba(0, 0, 0, .13),
                    0 8px 16px rgba(0, 0, 0, .14);
    --shadow-big: 0 2px 4px rgba(0, 0, 0, .09),
                  0 4px 8px rgba(0, 0, 0, .10),
                  0 8px 16px rgba(0, 0, 0, .11),
                  0 16px 32px rgba(0, 0, 0, .12);

    --duration: .2s;
    --ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    --monospace: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    --sans-serif: 'IBM Plex Sans Condensed', 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
}

@supports (color: color(display-p3 1 1 1)) {

    :root {
        --orange: color(display-p3 0.95 0.593 0.19);
        --green: color(display-p3 0.258 0.66 0.211);
    }

}

/* ***** basics ***** */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    color: var(--txt-07);
    background-color: var(--bg-06);
    font-size: 1em;
    line-height: 1.45;
    font-family: var(--sans-serif);
    margin: 0;
    overflow-x: hidden; /* for .full-width */
}

@media screen and (min-width: 700px) {

    html {
        font-size: 16px;
    }

}

@media screen and (min-width: 1400px) {

    html {
        font-size: 17px;
    }

}

/* ***** elements ***** */

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.7em;
    margin: 0 0 .5em;
    text-align: center;
}

/* <https://css-tricks.com/hash-tag-links-padding/> */
h2::before {
    content: '';
    display: block;
    height: 2.75em;
    margin-top: -2.75em;
    visibility: hidden;
    pointer-events: none;
}

h3 {
    font-size: 1.2em;
    margin: 0 0 .3em;
}

h4 {
    font-size: 1.1em;
    margin: 0 0 .3em;
}

p {
    font-size: 1.1em;
    margin: 0 0 1em;
    line-height: 1.5;
}

hr {
    border: solid var(--bg-05);
    border-width: 1px 0 0 0;
}

h2 + p {
    margin-top: -0.5em;
}

p + section {
    margin-top: 2.5em;
}

abbr {
    font-variant: none; /* override default styles */
    text-decoration: none;
}

/* ***** utility classes ***** */

/* for focus-visible.min.js */
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.link {
    color: inherit;
    text-decoration-color: #ccc;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    transition: text-decoration-color var(--duration) var(--ease);
}

.link:hover,
.link:focus {
    text-decoration-color: var(--txt-05);
}

.button {
    cursor: pointer;

    /* reset default <button> styles */
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.constrained-width {
    max-width: 69em;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.uppercase {
    letter-spacing: .06ch;
    text-transform: uppercase;
}

.monospace {
    font-size: .9em;
    font-family: var(--monospace);
}

.subdued {
    color: var(--txt-05);
}

.tile.dark .subdued {
    color: #bfbfbf;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 500px) {

    .constrained-width {
        padding-left: 1em;
        padding-right: 1em;
    }

}

@media screen and (min-width: 501px) and (max-width: 900px) {

    .constrained-width {
        padding-left: 2em;
        padding-right: 2em;
    }

}

/* ***** components ***** */

@keyframes slide-up {

    from {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }

}

.tile {
    background-color: var(--bg-07);
    border-radius: .4em;
    padding: .6rem 1.2rem .8rem;
}

.tile.dark {
    color: var(--txt-02);
    background-color: var(--bg-02);
}

.tile.dark p:last-of-type {
    margin-bottom: 0;
}

.tile.dark .pill {
    color: var(--txt-02);
    background-color: #4d4d4d;
}

.tile.error {
    position: fixed;
    left: 50%;
    bottom: 2.5em;
    transition: filter .3s ease;
    animation: slide-up 1s cubic-bezier(0.25, 1, 0.5, 1) both;
    animation-delay: .75s;

    font-weight: bold;
    background-color: #be1d0c;
    padding: .75em 1.5em;
    box-shadow: var(--shadow-big);
    cursor: pointer;
}

.tile.error:hover,
.tile.error:focus {
    filter: brightness(1.1);
}

.description {
    color: var(--txt-06);
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
    position: absolute;
    left: 0;
    bottom: calc(100% + 7px); /* greater than or equal to border-width on .tooltip::after */
    max-width: 20em;
    padding: .45em .8em .55em;
    box-shadow: var(--shadow-small);
    pointer-events: none;
    z-index: 1;

    /* reset stuff inherited from parent element */
    font-size: .9rem;
    font-weight: normal;
    font-family: var(--sans-serif);
    text-align: left;
    text-transform: none;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: var(--arrow-pos);
    border: 6px solid transparent;
    border-top-color: var(--bg-02);
}

.tooltip-title,
.tooltip-details {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip-title {
    font-weight: bold;
}

.tooltip-details {
    font-size: .9em;
}

@media screen and (max-width: 500px) {

    .tile {
        padding: .6rem 1rem .8rem;
    }

}

/* ***** header ***** */

header {
    background-color: var(--bg-01);
    color: var(--txt-01);
}

.header-container {
    padding-top: 5em;
    padding-bottom: 5em;
    line-height: 1;

    /* change .constrained-width */
    max-width: 50rem;
}

.header-container h1:first-of-type {
    margin-bottom: .2em;
}

.header-container .subdued {
    color: #bbb;
}

@media screen and (max-width: 700px) {

    .header-container {
        padding: 2.5em 2em 2.5em 55px; /* padding-left should align header with "Contents" menu */
    }

    .header-container h1 {
        font-size: 1.75em;
    }

}

/* ***** navigation ***** */

nav {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    color: var(--txt-02);
    background-color: var(--bg-01);
    border-top: 1px solid #414141;
    z-index: 1; /* position above checkmarks */
}

.nav-button {
    display: none;
}

.nav-list {
    --nav-padding: .65em;

    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: var(--nav-padding);
    padding-bottom: var(--nav-padding);

    /* change .constrained-width */
    max-width: 50rem;
}

.nav-link {
    text-decoration: none;
    cursor: pointer;
    transition: .25s ease;
    transition-property: color, background-color;

    border-radius: 10em;
    padding: .12em .7em;
    margin: -0.12em -0.7em;
    white-space: nowrap;

    /* reset default <button> styles */
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.nav-link:hover {
    background-color: #414141;
}

@media screen and (max-width: 700px) {

    nav {
        height: 44px;
    }

    .nav-button {
        --button-width: 20px;

        display: block;
        position: relative; /* for ::before and ::after */
        width: 100%;
        height: 100%;

        color: var(--txt-02);
        font-size: 1em;
        font-weight: bold;
        padding: 0 0 0 calc(var(--button-width) + 2.5rem);
        cursor: pointer;

        /* reset default <button> styles */
        background-color: transparent;
        text-align: left;
        border: none;
    }

    /* hamburger icon */
    .nav-button::before,
    .nav-button::after {
        position: absolute;
        width: var(--button-width);
        height: var(--icon-height);
        top: calc(50% - calc(var(--icon-height) / 2));
        left: 1.75rem;
        transition: transform .4s var(--ease);
    }

    .nav-button::before {
        --icon-height: 10px; /* height of linear-gradient */

        content: '';
        background-image: linear-gradient(
            var(--txt-02), var(--txt-02) 2px, transparent 2px, transparent 8px,
            var(--txt-02) 8px, var(--txt-02) 10px, transparent 10px
        );
    }

    .nav-button::after {
        --icon-height: 20px;

        content: '×';
        font-size: 2.25em;
        font-weight: normal;
        line-height: .45;
        opacity: 0;
    }

    .show-menu .nav-button::before {
        transform: rotate(180deg);
        opacity: 0;
    }

    .show-menu .nav-button::after {
        transform: rotate(180deg);
        opacity: 1;
    }

    .nav-list {
        display: block;
        visibility: hidden;
        background-color: var(--bg-01);
        border-top: 1px solid #414141;
        padding: .2em 1.8em .4em;
        box-shadow: var(--shadow-big);
        transition: .4s var(--ease);
        transform: translateY(-15px);
        opacity: 0;
    }

    .show-menu .nav-list {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }

    .nav-link {
        display: block;
        width: 100%;
        color: #cfcfcf;
        font-size: 1.1em;
        text-align: left;
        border-radius: 0;
        padding: .65em 0;
        margin: 0;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--txt-01);
        background-color: transparent;
    }

    .nav-link + .nav-link {
        border-top: 1px solid #414141;
    }

    .nav-link .subdued {
        margin-right: .3em;
    }

}

/* ***** main ***** */

main {
    overflow-x: hidden; /* prevent tooltips from expanding page */
    padding: 5em 0;
}

main > section + section {
    margin-top: 5em;
}

.no-js main {
    display: none;
}

.no-js-warning {
    text-align: center;
    margin: 3em auto;
}

/* ***** requirements ***** */

.requirements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap-large);
}

.attribute {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.attribute + .attribute {
    margin-top: .275em;
}

.attribute-name {
    line-height: 1.3;
    margin-right: .5em;
}

.attribute-name .number {
    margin-left: .2em;
}

.attribute-course {
    color: var(--txt-07);
    font-weight: bold;
    white-space: nowrap;
    position: relative; /* for .tooltip */

    /* reset default <button> styles */
    background-color: transparent;
    border: none;
    margin: 0;
}

.attribute-course.linked:hover,
.attribute-course.linked:focus {
    cursor: pointer;
    background-color: var(--bg-05);
}

/* reset default <button> style */
.attribute-course:active {
    color: inherit;
}

.attribute-course.linked {
    border-radius: 10em;
    padding: .1em .5em .1em .575em;
    margin: -0.1em -0.5em -0.1em -0.575em;
    transition: background-color var(--duration) ease;
}

.attribute-course .tooltip {
    text-align: left;
}

/* major/minor */
.requirements .tile + .tile {
    margin-top: var(--gap-small);
}

@media screen and (max-width: 550px) {

    .requirements {
        grid-template-columns: none;
        row-gap: var(--gap-large);
    }

}

@media screen and (min-width: 550px) and (max-width: 900px) {

    .requirements {
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--gap-large);
    }

}

/* ***** years/semesters ***** */

.year {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap-large);
}

.year + .year {
    margin-top: 4em;
}

/* added with js */
.year-row-gap {
    row-gap: 2em;
}

/* <https://css-tricks.com/flexbox-truncated-text/> */
.semester {
    min-width: 0;
}

/* in Firefox, pointer-events: none doesn't prevent ::before from blocking the
   "Expand week view" button underneath it (??), so put this on <h3> as well */
.semester-num {
    pointer-events: none;
}

/* <https://css-tricks.com/hash-tag-links-padding/> */
.semester-num::before {
    content: '';
    display: block;
    height: 3.75em;
    margin-top: -3.75em;
    visibility: hidden;
    pointer-events: none;
}

@media screen and (max-width: 700px) {

    .year {
        display: block;
    }

    .semester + .semester {
        margin-top: 1.5em;
    }

}

/* ***** courses ***** */

.course {
    display: flex;
    align-items: center;
    transition: opacity var(--duration) var(--ease); /* for .filtered */
}

.course + .course {
    margin-top: var(--gap-small);
}

.course-shorthand {
    width: 3ch;
    line-height: 1.25;
    margin-right: .9rem;
}

.course-shorthand-alt {
    display: none;
    font-weight: normal;
}

.course-body {
    flex: 1;
    margin-right: 1.1rem;
    min-width: 0; /* <https://css-tricks.com/flexbox-truncated-text/> */
}

.course-name {
    color: var(--txt-07);
    margin-bottom: 0;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.course-link {
    color: inherit;
    text-decoration: none;
}

.course-link:hover,
.course-link:focus {
    text-decoration: underline;
}

.req-container {
    position: relative; /* for .fade-overflow */
    white-space: nowrap;
    margin-top: .2em;
}

.no-reqs {
    font-size: .95em;
    height: 1.5em; /* needs to match height of .req-container with pills */
}

.fade-overflow {
    overflow: hidden;
}

.fade-overflow::before,
.fade-overflow::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

/* can't animate between gradients, so hack using opacity is needed */
.fade-overflow::before {
    background: linear-gradient(to left, var(--bg-02), rgba(65, 65, 65, 0) 30px);
    opacity: 0;
}

.fade-overflow::after {
    background: linear-gradient(to left, var(--bg-07), rgba(255, 255, 255, 0) 30px);
    opacity: 1;
}

.course-credits {
    font-size: .875em;
    letter-spacing: -0.05ch;
}

/* animation when clicking on requirement to jump to schedule */
.fade-out {
    --duration: 1.5s;  /* less than or equal to difference between two setTimeouts in addRow() */
}

.fade-out.course,
.fade-out .course-name,
.fade-out .course-credits,
.fade-out .course-shorthand,
.fade-out .pill {
    transition: var(--duration) var(--ease);
}

.fade-out .fade-overflow::before,
.fade-out .fade-overflow::after {
    transition: calc(var(--duration) + .6s) var(--ease); /* duration needs to be .6s longer than above to visually match */
}

/* override existing transition on .pill when transitioning in */
.no-fade .pill {
    transition: none;
}

/* styles for when course is highlighted */
.highlighted.course {
    background-color: var(--bg-02);
}

.highlighted .course-name,
.highlighted .course-credits,
.highlighted .course-shorthand {
    color: var(--txt-02);
}

.highlighted .fade-overflow::before {
    opacity: 1;
}

.highlighted .fade-overflow::after {
    opacity: 0;
}

.highlighted .pill {
    color: var(--txt-03);
    background-color: #474747;
}

.highlighted .pill.selected {
    color: var(--txt-06);
    background-color: var(--bg-05);
}

/* when clicking on pill to fade out courses */
.filtered .course {
    opacity: .5;
}

.filtered .course.selected {
    opacity: 1;
}

@media screen and (max-width: 900px) {

    .course-name {
        font-size: 1.05em;
    }

    .course-shorthand {
        display: none;
    }

    .course-shorthand-alt {
        display: inline;
    }

}

/* ***** pills ***** */

.pill {
    font-size: .875em;
    color: var(--txt-06);
    background-color: var(--bg-05);
    line-height: 1;
    padding: .275em .5em;
    transition: var(--duration) var(--ease);
    transition-property: filter, color, background-color;

    /* reset default <button> styles */
    border: none;
    margin: 0;
    font-family: inherit;
}

.pill:hover,
.pill:focus {
    filter: brightness(.95);
    cursor: pointer;
}

.pill + .pill {
    margin-left: .25em;
}

.pill-left {
    border-radius: 10em 0 0 10em;
    padding-left: .6em;
}

.pill-right {
    border-radius: 0 10em 10em 0;
    padding-right: .6em;
}

.pill.selected {
    color: var(--txt-02);
    background-color: var(--bg-02);
}

.pill.selected:hover,
.pill.selected:focus {
    filter: brightness(1.1);
}

.pill.fake {
    font-size: .85em;
    background-color: #e3e3e3;
    border-radius: 10em;
    padding: 0 .6em .1em;
}

/* ***** week ***** */

/*
   useful links for anyone looking at this css:
   <https://css-tricks.com/snippets/css/complete-guide-grid/>
   <https://css-tricks.com/building-a-conference-schedule-with-css-grid/>
*/

.weekly-schedule {
    display: flex;
    margin: .75em 1.2rem 0;
}

.week-button {
    font-size: .875em;
    line-height: 1;
    border-radius: 10em;
    width: max-content;
    padding: .3em .7em;
    margin: auto;
    transition: background-color var(--duration) ease;
}

.week-button:hover {
    background-color: #e9e9e9;
}

.week-container {
    --day-gap: .5em;

    display: grid;
    grid: auto 1fr / auto 1fr;
    grid-template-areas: "empty days"
                         "hours courses";
    grid-gap: .3em .6em;
    margin: .7em 0 0;
}

.header-days {
    display: grid;
    grid-area: days;
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--day-gap);
}

.header-day {
    font-size: .75rem;
    justify-self: center;
    align-self: center;
}

.today {
    --size: 22px;

    color: var(--txt-01);
    font-weight: bold;
    text-align: center;
    background-color: var(--bg-02);
    border-radius: 50%;
    width: var(--size);
    line-height: var(--size);
}

.header-hours {
    display: grid;
    grid-area: hours;
    grid-template-rows: repeat(var(--total-hours), 1fr);
}

.header-hour {
    font-size: .75rem;
    text-align: right;
    transform: translateY(-1.35ch);
}

/* fake the last hour header */
.header-hour:last-child::after {
    content: attr(data-next-hour);
    position: absolute;
    right: 0;
    bottom: -1.35em;
}

.week-grid {
    display: grid;
    grid-area: courses;
    grid-template-rows: repeat(calc(12 * var(--total-hours)), 1fr); /* 12 5-min blocks = 1 hour */
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--day-gap);
    border-top: 1px solid var(--bg-04);
    height: calc(var(--total-hours) * 50px);
    max-height: 350px;
}

.hour-line {
    border: solid var(--bg-04);
    border-width: 0 0 1px;
    grid-column: 1 / -1;
}

.course-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* for .tooltip */

    color: var(--txt-01);
    font-size: .75em;
    font-weight: bold;
    line-height: 1.2;
    border-radius: .35rem;
    padding: .5em;
    cursor: default;
}

.week-grid .tooltip {
    padding: .6em .9em .75em;
    white-space: nowrap; /* allow tooltip to break out of grid */
}

.week-grid .tooltip-details {
    margin-top: .075em;
}

/* color reference: <https://www.ibm.com/plex/>, <https://rsms.me/inter/> */
/* @TODO: colorblind toggle - switch to stripes for red/green, blue/purple
          eg. background-image: repeating-linear-gradient(-45deg, light, light 10px, dark 10px, dark 20px); */

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-purple {
    background-color: var(--purple);
}

@media screen and (max-width: 69em) {

    .weekly-schedule {
        margin: .75em 0 0;
    }

}

@media screen and (max-width: 600px) {

    .week-grid {
        max-height: 300px;
    }

}

/* ***** other courses ***** */

.undated-courses-container {
    columns: 2;
    column-gap: var(--gap-large);
    margin-top: 2em;
}

.undated-courses-container .course {
    break-inside: avoid;
}

@media screen and (max-width: 700px) {

    .undated-courses-container {
        columns: 1;
    }

}

/* ***** summary ***** */

.summary-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap-large);
    align-items: flex-start;
}

.summary .tile {
    line-height: 1.55;
    background-color: #e9e9e9;
}

.summary hr {
    border-color: #cfcfcf;
    margin: .7em 0;
}

.summary-note {
    font-size: .9em;
    margin-top: .3em;
    line-height: 1.45;
}

.dotted {
    cursor: help;
    -webkit-text-decoration: underline dotted #aaa; /* safari only */
    text-decoration: 1px underline dotted #aaa;
    text-underline-offset: 3px;
}

@media screen and (max-width: 550px) {

    .summary-container {
        grid-template-columns: none;
    }

}

@media screen and (min-width: 550px) and (max-width: 900px) {

    .summary-container {
        grid-template-columns: repeat(2, 1fr);
    }

}