/* ***** fonts ***** */

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IBMPlexMono'),
         url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('IBMPlexMono-Bold'),
         url('../fonts/IBMPlexMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-stretch: condensed;
    font-weight: 400;
    font-display: swap;
    src: local('IBMPlexSansCondensed'),
         url('../fonts/IBMPlexSansCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-stretch: condensed;
    font-weight: 700;
    font-display: swap;
    src: local('IBMPlexSansCondensed-Bold'),
         url('../fonts/IBMPlexSansCondensed-Bold.ttf') format('truetype');
}

/* ***** variables ***** */

:root {
    --bg-01: #222;
    --bg-02: #2f2f2f;
    --bg-03: #414141;
    --bg-04: #ddd;
    --bg-05: #eee;
    --bg-06: #f3f3f3;
    --bg-07: #fff;

    --txt-01: #fff;
    --txt-02: #f3f3f3;
    --txt-03: #ddd;
    --txt-05: #777;
    --txt-06: #4d4d4d;
    --txt-07: #222;

    --gap-large: 1.25em;
    --gap-small: .6em;

    --duration: .2s;
    --ease: cubic-bezier(0.33, 1, 0.68, 1);
}

/* ***** basics ***** */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: var(--txt-07);
    font: 1em/1.45 'IBM Plex Sans Condensed', system-ui, sans-serif;
    background-color: var(--bg-06);
    margin: 0;
    overflow-x: hidden; /* for .full-width */
}

@media screen and (min-width: 1400px) {

    html {
        font-size: 17px;
    }

}

/* ***** elements ***** */

h1 {
    font-size: 2.4em;
    margin: 0;
}

h2 {
    font-size: 1.7em;
    margin: 0 0 .5em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    margin: 0 0 .3em;
}

h4 {
    font-size: 1.1em;
    margin: 0 0 .3em;
}

p {
    font-size: 1.1em;
    margin: 0 0 1em;
    line-height: 1.5;
}

section + section {
    margin: 3em 0 0;
}

hr {
    border: solid var(--bg-04);
    border-width: 1px 0 0 0;
}

h2 + p {
    margin-top: -0.75em;
}

p + section {
    margin-top: 2.5em;
}

a {
    color: inherit;
    transition: filter var(--duration) ease;
}

a:hover {
    filter: brightness(.85);
}

abbr {
    font-variant: none; /* override default styles */
    text-decoration: none;
}

/* ***** reusable classes ***** */

.constrained-width {
    max-width: 69em;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.uppercase {
    letter-spacing: .06ch;
    text-transform: uppercase;
}

.monospace {
    font-size: .9em;
    font-family: 'IBM Plex Mono', ui-monospace, monospace;
}

.subdued {
    color: var(--txt-05);
}

.tile {
    background-color: var(--bg-07);
    border-radius: .4em;
    padding: .6rem 1.2rem .8rem;
}

.tile.dark {
    color: var(--txt-02);
    background-color: var(--bg-03);
}

.tile.dark p:last-of-type {
    margin-bottom: 0;
}

.tile.dark .pill {
    color: var(--txt-02);
    background-color: #4d4d4d;
}

.description {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {

    .constrained-width {
        padding-left: 1em;
        padding-right: 1em;
    }

    .tile {
        padding: .6rem 1rem .8rem;
    }

}

@media screen and (min-width: 501px) and (max-width: 900px) {

    .constrained-width {
        padding-left: 2em;
        padding-right: 2em;
    }

}

/* ***** header ***** */

header {
    background-color: var(--bg-01);
    color: var(--txt-01);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    line-height: 1;
}

.header-text h1:first-of-type {
    margin-bottom: .2em;
}

.header-text .subdued {
    color: #c6c6c6;
}

.github-link {
    color: var(--txt-01);
    background-color: var(--bg-03);
    font-weight: bold;
    text-decoration: none;
    border-radius: .4em;
    white-space: nowrap;

    margin-left: 1em;
    padding: .8em 1.2em;
    transition: filter var(--duration) ease;
}

.github-link:hover {
    filter: brightness(1.15);
}

/* ***** main ***** */

main > div {
    margin-top: 4em;
}

main > div:last-of-type {
    margin-bottom: 4em;
}

/* ***** requirements ***** */

.requirements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap-large);
}

.requirement-gened h3 {
    grid-column: 1 / 4;
}

.attribute {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.attribute + .attribute {
    margin-top: .275em;
}

.attribute-course {
    font-weight: bold;
    white-space: nowrap;
    position: relative; /* for .tooltip */
}

.attribute-course.linked {
    margin: -0.1em -0.3em -0.1em -0.45em;
    padding: .1em .3em .1em .45em;
    transition: background-color var(--duration) ease;
}

/* major/minor */
.requirement-major .tile + .tile {
    margin-top: var(--gap-small);
}

/* summary */
.section-summary .tile {
    background-color: #ececec;
}

.section-summary hr {
    border-color: #cfcfcf;
}

.requirement.courses .total .attribute-course,
.requirement.credits .total .attribute-course {
    border-bottom: 1px dotted #999;
    cursor: help;
}

.icon {
    display: inline-block;
    position: relative;
    top: .15em;
    width: 1em;
    height: 1em;
}

.checkmark {
    background: url('../images/checkmark.svg') no-repeat;
    font-size: .85em;
    margin-left: .25em;
}

.tooltip {
    --arrow-pos: calc(7ch / 2 + .35em); /* half of attribute width plus its padding */

    position: absolute;
    left: 0;
    bottom: calc(100% + 7px);
    max-width: 20em;
    opacity: 0;
    pointer-events: none;
    z-index: 1; /* otherwise appears under checkmarks */

    font-weight: normal;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-transform: none;
    padding: .4em .7em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .11),
                0 4px 8px rgba(0, 0, 0, .12),
                0 8px 16px rgba(0, 0, 0, .13);
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: var(--arrow-pos);
    border: 7px solid transparent;
    border-top-color: var(--bg-03);
}

.tooltip.show {
    opacity: 1;
}

.tooltip-title {
    font-weight: bold;
}

.tooltip-title,
.tooltip-details {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip-details {
    font-size: .9em;
    opacity: .85;
}

.tooltip-req + .tooltip-req::before {
    content: '•';
    margin: 0 .25em;
}

/* <https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/> */
@media screen and (hover: hover) {

    .attribute-course.linked:hover {
        cursor: pointer;
        background-color: var(--bg-05);
        border-radius: .35em;
    }

}

@media screen and (max-width: 500px) {

    .requirements {
        grid-template-columns: none;
        row-gap: var(--gap-large);
    }

    .requirement-gened h3 {
        grid-column: 1 / 2;
        margin-bottom: -0.5em;
    }

}

@media screen and (min-width: 501px) and (max-width: 900px) {

    .requirements {
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--gap-large);
    }

    .requirement-gened h3 {
        grid-column: 1 / 3;
        margin-bottom: -0.5em;
    }

    .section-summary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / 3;
        column-gap: var(--gap-large);
        margin-top: calc(3em - var(--gap-large));
    }

    .section-summary h3 {
        grid-column: 1 / 3;
    }

    .section-summary .tile + .tile {
        margin-top: 0;
    }

}

/* ***** important dates ***** */

.timeline.tile {
    --timeline-bg: var(--bg-01);
    --top-padding: 2em;
    --date-width: 43%;
    --name-width: calc(100% - var(--date-width));
    --line-offset: calc(var(--date-width) + 1%);

    position: relative;
    list-style: none;
    color: var(--txt-03);
    background-color: var(--timeline-bg);
    border-radius: .6em;
    padding: var(--top-padding) 1.5em calc(var(--top-padding) * 1.2);
    margin: 2em auto 0;
    max-width: 43em;
}

/* the vertical line */
.timeline::before {
    --line-width: 2px;

    content: '';
    position: absolute;
    left: calc(var(--line-offset) - var(--line-width) / 2);
    width: var(--line-width);
    height: calc(100% - var(--top-padding) * 2 + 10px);
    background: linear-gradient(to top, var(--timeline-bg), var(--bg-03) 20px) no-repeat;
}

.timeline li + li {
    margin-top: 1rem;
}

.event {
    display: flex;
    position: relative;
}

/* the dot */
.event::before {
    --dot-size: 22px;
    --border-width: 5px;

    content: '';
    position: absolute;
    left: calc(var(--line-offset) - (var(--dot-size) + var(--border-width)) / 2);
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--bg-04);
    border: var(--border-width) solid var(--timeline-bg);
    border-radius: 50%;
}

.event.exclamation::before {
    --dot-size: 30px;

    background: url('../images/exclamation.svg') no-repeat;
    background-color: var(--bg-01);
    top: -4px;
}

/* fade everything except the dot, otherwise the line will show through */
.event.past > * {
    opacity: .5;
}

.event.past::before {
    background-color: #717171;
}

.event-year {
    color: var(--txt-02);
    font-size: 1.85em;
    text-align: center;
    line-height: 1.1;
    background-color: var(--timeline-bg);
    isolation: isolate; /* needed to position h3 above line */
}

.event-year h3 {
    padding-bottom: .05em; /* balance out bottom gap between header and timeline line */
    margin-left: -0.2em;
    margin-bottom: 0;
}

.event + .event-year {
    margin-top: 1.5rem;
}

.event-date {
    width: var(--date-width);
    font-size: 1.05em;
    font-weight: bold;
    text-align: right;
    line-height: 1.2;
    margin: 0 1.5em 0 0;
}

.event-diff {
    font-size: .7em;
    font-weight: normal;
    color: #ababab;
    margin-top: .25em;
}

.event-name {
    width: var(--name-width);
    font-size: 1.05em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 0 1.5em;
}

.event.celebrate {
    transition: filter var(--duration) ease;
}

.event.celebrate:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

/* ***** years/semesters ***** */

.year {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap-large);
}

.semester {
    min-width: 0; /* <https://css-tricks.com/flexbox-truncated-text/> */
}

@media screen and (max-width: 700px) {

    .year {
        grid-template-columns: none;
    }

}

/* ***** courses ***** */

.course {
    display: flex;
    transition: opacity var(--duration) var(--ease); /* for .filtered */
}

.course + .course {
    margin-top: var(--gap-small);
}

.course-shorthand {
    display: flex;
    align-items: center;
    width: 3.05ch;
    line-height: 1.2;
    margin-right: .9rem;
}

.course-shorthand-alt {
    display: none;
    font-weight: normal;
    margin-right: 1ch;
}

.course-body {
    flex: 1;
    margin-right: 1.1rem;
    min-width: 0; /* <https://css-tricks.com/flexbox-truncated-text/> */
}

.course-name {
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.course-link {
    color: var(--txt-07);
    text-decoration: none;
}

.course-link:hover {
    text-decoration: underline;
}

.req-container {
    position: relative;
    white-space: nowrap;
    margin-top: -0.15em;
}

.fade-overflow {
    overflow: hidden;
}

.fade-overflow::before,
.fade-overflow::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

/* can't animate between gradients, so hack using opacity is needed */
.fade-overflow::before {
    background: linear-gradient(to left, var(--bg-07), rgba(255, 255, 255, 0) 30px);
    z-index: 1;
}

.fade-overflow::after {
    background: linear-gradient(to left, var(--bg-03), rgba(65, 65, 65, 0) 30px);
    opacity: 0;
}

.course-credits {
    display: flex;
    margin: auto;
    letter-spacing: -0.05ch;
}

/* when clicking on requirement to jump to schedule */
.highlighted.course,
.highlighted .pill,
.highlighted .course-name, /* separate from .course-link so the ellipsis is colored */
.highlighted .course-link,
.highlighted .course-credits,
.highlighted .course-shorthand,
.highlighted .fade-overflow::before,
.highlighted .fade-overflow::after {
    animation: 3s cubic-bezier(0.33, 1, 0.68, 1);
}

.highlighted.course {
    animation-name: fade-out-bg;
}

.highlighted .course-name,
.highlighted .course-link,
.highlighted .course-credits,
.highlighted .course-shorthand {
    animation-name: fade-out-text;
}

/* can't animate between gradients, so ugly opacity hack is needed */
.highlighted .fade-overflow::before {
    animation-name: fade-in-opacity;
}

.highlighted .fade-overflow::after {
    animation-name: fade-out-opacity;
}

.highlighted .pill {
    animation-name: fade-out-pill;
}

/* when clicking on pill to fade out courses */
.filtered .course {
    opacity: .5;
}

.filtered .course.selected {
    opacity: 1;
}

@keyframes fade-out-bg {

    0%,
    50% {
        background-color: var(--bg-02);
    }

}

@keyframes fade-out-text {

    0%,
    50% {
        color: var(--txt-02);
    }

}

@keyframes fade-out-opacity {

    0%,
    46% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes fade-in-opacity {

    0%,
    46% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fade-out-pill {

    0%,
    50% {
        color: var(--txt-03);
        background-color: #494949;
    }

}

@media screen and (max-width: 900px) {

    .course-name {
        font-size: 1.05em;
    }

    .course-shorthand {
        display: none;
    }

    .course-shorthand-alt {
        display: inline;
    }

}

/* ***** pills ***** */

.pill {
    color: var(--txt-06);
    background-color: var(--bg-05);
    font-size: .85em;
    padding: .175em .6em;
    border-radius: 10em;
    transition: var(--duration) var(--ease);
    transition-property: filter, color, background-color;

    /* reset default <button> styles */
    border: none;
    margin: 0;
    font-family: inherit;
}

.pill:hover {
    filter: brightness(.95);
    cursor: pointer;
}

.pill + .pill {
    margin-left: .3em;
}

.pill.selected {
    color: var(--txt-02);
    background-color: var(--bg-03);
}

.pill.selected:hover {
    filter: brightness(1.1);
}

.pill.fake {
    font-size: .925em;
    background-color: #e3e3e3;
    cursor: auto;
}

/* ***** total ***** */

.semester-total {
    display: flex;
    justify-content: flex-end;
    letter-spacing: -0.05ch;
    margin: .75em 1.2em 0 0;
}

.credit-total {
    margin-left: 1.25ch;
}

/* ***** errors ***** */

.tile.error {
    --offset: 2em;

    position: fixed;
    left: 50%;
    bottom: var(--offset);
    transition: filter .3s ease;
    animation: slide-up 1s cubic-bezier(0.25, 1, 0.5, 1) both;
    animation-delay: .75s;

    font-weight: bold;
    background-color: #be1d0c;
    padding: .75em 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .09),
                0 4px 8px rgba(0, 0, 0, .10),
                0 8px 16px rgba(0, 0, 0, .11),
                0 16px 32px rgba(0, 0, 0, .12);
    cursor: pointer;
}

.tile.error:hover {
    filter: brightness(1.1);
}

@keyframes slide-up {

    from {
        transform: translate(-50%, calc(100% + var(--offset)));
    }

    to {
        transform: translate(-50%, 0);
    }

}